<!DOCTYPE html>
<html lang="en">
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>
</head>
<body>
<div class="container">

    <!--文件组-->
    {% for item in articles%}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="{{ item.cover_img }}" alt="..." class="img-rounded" width="128px" height="100%">
                        </div>
                        <div class="col-md-10">
                            <h3>{{ item.title }}
                                <small>作者：{{ item.author_name }}</small>

                            </h3>
                        </div>


                        {{ item.pre_content }}
                    </div>
                </div>
                <div class="panel-footer">阅读数:{{ item.page_views }}
                    <small>发表于：{{ item.create_time }}</small>
                    <a href="#{{ item.id }}>继续阅读</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>


</body>
</html>